{% extends 'base.html' %}

{% block content %}
<h1>Crear un nuevo Usuario</h1>

<form action="" method="post">
{{form.as_p}}
{% csrf_token %}

<p>
        <label for="rol">Rol del usuario:</label>
        <select name="rol" id="rol" required>
            <option value="COMUN">Usuario Común</option>
            <option value="JEFE">Jefe de Equipo</option>
            <option value="ADMIN">Administrador</option>
        </select>
    </p>

    <button type="submit">Crear Usuario</button>



</form>

{% endblock %}